
-r requirements.txt

build>=1.4.0,<2
flake8>=7.3.0,<8
mypy>=1.19.1,<2
pipdeptree>=2.31.0,<3
pytest>=9.0.2,<10
ruff>=0.15.4,<1
setuptools>=82.0.0,<90
twine>=6.2.0,<7

types-requests
types-pyyaml
types-setuptools